profiles {
    standard {
        process.excutor = 'local'
    }
}




params {
    reads           = "$baseDir/data/reads/t0_rep1_{R1,R2}.fastq.gz"
    genome          = "$baseDir/data/genomes/genome.fa"
    outdir          = "./results"
}

docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'
process.container = 'mdivr/cutnrun:latest'
