profiles {
    standard {
        process.executor = 'local'
    }
}




params {
    sample_sheet    = "$baseDir/samplesheet.csv"
    single_end      =  false
    genome          = "$baseDir/data/genomes/genome.fa"
    outdir          = "./results"
    heatmap_blueprint_yaml  = "$baseDir/heatmap_blueprint.yaml"
    processes_options {
        bowtie2         =   "--local --very-sensitive-local --no-unal --no-mixed --no-discordant --phred33 -I 10 -X 700"
        macs2           =   ""
        bamcoverage     = "--binSize 10 --normalizeUsing RPKM --skipNonCoveredRegions --ignoreDuplicates --extendReads"
        computeMatrix   = "--sortRegions descend -b 3000 -a 3000 --missingDataAsZero --skipZeros"
        plotHeatmap     = '--yMin 0  --refPointLabel "Center" --heatmapHeight 27 --heatmapWidth 9 --colorMap pink_r --plotFileFormat "png" --perGroup'
}
}

profiles {
    standard    {
            process.executor       = 'local'
            docker.enabled         = false
            singularity.enabled    = false
    }
    
    slurm {
            process.executor='slurm'
            }
            


    docker       {
            docker.enabled         = true
            docker.runOptions      = '-u $(id -u):$(id -g)'
            singularity.enabled    = false
    }

    singularity   {
            docker.enabled         = false
            singularity.enabled    = true
            singularity.autoMounts = true
    }
}


// docker.enabled = true
// docker.runOptions='-u $(id -u):$(id -g)'
// process.container = 'mdivr/cutnrun:v0.2'
